
/*table{
	border:thin solid #bbb;
	font-size:1em;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align:left;

}*/
select{
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size:1em;
	height:16px;
	border:thin solid #bbb;

}

legend{font: bold 1.1em arial, hevetica, sans-serif;}

fieldset {	/*** Mise en forme des cadres ***/
	margin: 0;
	font-style: normal;
	padding: 0 1em 1em;
        display:block;}

fieldset label {	/*** Mise en forme des intitul�s de champs ***/
	float: left;	/*** Tr�s important, ne pas suprimer ! ***/
	width: auto;	/*** Les intitul�s prennent 1/3 de la largeur totale du formulaire... ***/
	text-align: right;	/*** ... et ils sont align�s � droite... ***/
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8em;	/*** ... et centr�s verticalement. ***/
}

p {	/*** Mise en forme des lignes du formulaire ***/
	padding: .2em 0;
	margin: 0 0 .2em 0;
}

.bigTable{width:800px;}
.smallCell{width:250px;}

.bigFont{font-weight:bold;}



/*#role_source,#ParentCollectionName,#SpecimenObservationMethod,#InstitutionDiv,#parentInstitutionDiv{display:block;}*/

.url{color: #663300;}

#role_source,#ParentCollectionName,#SpecimenObservationMethod,#InstitutionDiv,#parentInstitutionDiv{display:block;}
#roleDiv,agentDiv{float:left;}
#dynamicPerson,#dynamicCollection,#dynamicExtent,#dynamicAgent{padding: 6px;
	float: right;	
	margin: 20px 6px;
	border: thin dashed #ccc;
}

.textArea{
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size:1em;
	border:thin solid #bbb;
	width:300px;
	white-space:normal;
	height:auto;
}


.bigTable{width:550px;}
.smallCell{width:250px;}
/*.bigTable .textArea{width:550px;border:0;}*/

.underline td{border: thin solid #bbb;padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:1px;}


.underline{border-collapse: collapse;}

#formTitle{font: bold 1.1em arial, hevetica, sans-serif;
	color: white;
	background: black;
	margin: 0;
	padding: .5em;
}

#metadataForm{border: 1px solid black;
	color: black;
	/*background: #ecf7ee;*/
	margin: 0;
	padding: 1em;
        display:block;
}

.marginLeft{margin-left:20px;}

#title{text-align: center;}

.person,.collection,.extent{border:0; background-color:transparent; height:auto;}

.validation{border:2px solid #bbb;}

.button{
	font-size: 1em;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	border: 2px outset #ccc; 
}

#dynamicExtent,#dynamicPreservation{ width:400px; overflow:auto;position:relative;border: thin dashed #ccc;	
}
.max{width:500px;}

.example {
	font-family: Courier, Sans-Serif;
	color: #666; 
}


.noborder{border:0;}
.noborder td{vertical-align: top;}

.sidebar{display:none;}

.resultTable{border:thin solid #bbb;
        font-size:1em;
        font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
        text-align:left;
        border-spacing:0;
        empty-cells:show;
	/*width:96%;*/
}
.resultTable th{
        background-color:#efefef;border-right:thin solid #ccc;}
        
/*td,tr{text-align:center; padding:0px 10px;border-top:thin solid #ccc; border-right:thin solid #ccc;}*/
.miniTitle{text-decoration:underline; font-size:1.1em; font-weight:bold;}

.multi {
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  padding:4px 0 4px 0;
  margin-right:10px;
}

.multi img{
   vertical-align: middle;
   display: inline; 
}

#pratique{float:right; text-align:left;}
.clearer{clear:both; text-align:left;}

.textAreaS{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	height:16px;
	width:300px;
	border:thin solid #bbb;
}

#taxonCovResult,#preservationCovResult{
border : 1px solid gray;
height : 112px;
overflow-y : auto;
margin-top:4px;
//float:left;
display:none;
}

div.mover{
background-color : #06c;
color : white;
}

li{list-style-type: disc;}


