body{}
#trailBar{	background: url("http://www.gbif.fr/gbif_old/themes/gbif/meta/images/actionbarbg_m.jpg") no-repeat top center;}

.queryReminder .blue,.blue{color:#689d6d;}

#urlLike,.urlLike{	color:#689d6d;}
.preferedbig {	color: #689d6d;}
#searchresults div.mover{	background-color : #689d6d;}

#optionsTrail a {	color:#689d6d;}

#searchPage #nav-search, #registryPage #nav-registry, #aboutPage #nav-about,#updatePage #nav-update{color:#689d6d;}
/*a{	color: #689d6d;  }*/



p {}
.pagetit{
	font-size: 1.8em;
	font-weight:bold;
}
.pageTitle{
	/*margin-right:80px;*/
	text-align:center;
 	font-weight:bold;
	font-size: 1.2em;
}
.pageTitlep{
	/*margin-right:80px;*/
	text-align:center;
 	font-weight:bold;
	font-size: 1.5em;
}

div {}
.scroll{
	margin-left:-75px;
	margin-right:100px;

}

.dash{
	border:thin dashed #bbb;
	padding: 6px;
	width:98%;
}

.scrolp{ 
	z-index:10;
	width:800px;
	margin-left:100px;
	margin-right:10px;
}
.scrol{ 
	z-index:10;
	width:80%;
	margin-left:100px;
	margin-right:50px;
	font-size: 1.2em;
}


/*-------------------------------------------------------------------------------------------------*/

div .bor {
	width:500px;
	height:70px;
	border:dashed 1px #06c;
	padding:3px 6px 1px 6px;
}


.queryReminder{
	font-weight:bold;
	width:100%;
	text-align:left;
	
}

.data_grid2{
        position:relative;
}

.data_grid2 table{
        width:100%;
        border-width:1px;
        font-size:0.9em;
}

.data_grid2 td, .data_grid2 th{
        white-space: normal;
        border-color: #999;
        border-style: none solid dashed none;
        border-width: thin;
}

.test table{
	border-color:#ccc;
	border-style:solid;
	border-width: thin;
	font-size:1em;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align:left;
}
.test tr,td,th{padding:5;}


/*-------------------------------------------------------------------------------------------------------------*/


html>body .texta {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	height:auto;
	width:310px;
	border:thin solid #bbb;
}

.textrech {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	height:20px;
	width:175px;
	border:thin solid #bbb;
}


.sub{
	font-size: 1.2em;
/*	font-weight:bold;*/
}

.blc{
	float:right;
	display:inline;
}






