@CHARSET "UTF-8";

/*************** balises *********/
img 
{
	border:none
}

/**********************header**********************/
/*a
{
	color: #04b134;
	text-decoration:none;
	font-family: Comfortaa, Verdana, serif;
}*/

.navbar .brand
{
	padding-top:10px;	
	font-size: 30px;
	color: #43a628;
}

.navbar .nav > li > a
{
	font-size: 16px;
	color: #43a628;
}

.navbar-search form
{
	margin: 0;
}

.navbar .nav
{
	margin-top : 10px;
}

.navbar .nav .current-menu-item a, .navbar .nav .current-page-ancestor a
{
	font-weight: bold;
	background-color: #c6e844;
	border-radius: 15px;
}

#sub-menu .menu-item a
{
	
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 14px;
}

#sub-menu ul
{
	margin:0;
}

.icon-chevron-right
{
	margin-top:20px;
}

#logout
{
	float:right;
	margin-bottom: 5px;
}

#logout > a
{
	font-style: italic;
}

/*************** body ****************/
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}

#body
{ 
	background: white;
/* 	font-family: Comfortaa, Verdana, serif; */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	clear: both;
	width: 946px;
	margin: 0;
}

#stat
{
	border: 2px groove #c09853; 
	padding-left: 15px; 
	padding-right: 15px; 
	width: 330px; 
	float:right;
	margin-left : 15px;
}

.error
{
	color: red;
}

/* Page content */
div.content
{
	margin-top: 120px;
}

/* Page de statistiques */
#cartes h2
{
	text-align:center;
}

#metropole
{
	width: 500px;
}

#metropole h3
{
	text-align:center;
}

#outremer
{
	float: right;
}

#outremer h3
{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	text-align:center;
}

#outremer h4
{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	text-align:center;
}

#camemberts
{
	margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#camemberts h2
{
	text-align:center;
}

/*************** footer ****************/

#footer div
{
	clear: both;
	margin-top : 5px;
	padding-top: 20px;
}
