
.newscat{
	border:1px solid #a5b2bd; 
	margin:0; 
	position:relative; 
}

.toggle{
	background:#f2f3f5 url("../../images/tabs/newcats_bkgd.gif") repeat-x bottom left; 
	height:2em;
	border-bottom:1px solid #a5b2bd; 
}


.toggle ul{
	float:left; 
	margin:0; 
	padding:0; 
	list-style:none; 
	position:absolute; 
	width:100%; 
	overflow: hidden; 	 
	top:-1px;
	clip: rect(auto, auto, 100px, auto); 
}

html>body .toggle ul{
	top:-10px; 
	left:-5px; 
	clip: rect(0, auto, 100px, auto);
}

.toggle li{
	float:left;  
	font-family: 'Lucida Grande', Verdana, Sans-Serif;
	display:block; 
	padding-bottom:9px; 
}

.toggle li a{
	float:left; 
	display:block; 
	text-decoration:none; 
	color:#003DB8 ; 
}

.toggle li a:visited{color:#003DB8 ; }

.toggle li a:hover{text-decoration:underline; }

.toggle li em{
	float:left; 
	display:block; 
	margin-top:2px; 
	padding:4px 5px 3px 8px; 
	font-style:normal; 
	color:#003399 ; 	
	cursor:pointer;
	border-right:1px solid #333;
}


.toggle li.on{
	background:url("../../images/tabs/ptr_f.gif") bottom center no-repeat; 
	padding-top:1px;
}

.toggle li.on a{
	color:#fff;
	background:#a5b1bd url("../../images/tabs/tab_left_f.gif") no-repeat;
	padding-left:2px;
}

.toggle li.on a:visited{color:#fff; }

.toggle li.on a:hover{text-decoration:none; }

.toggle li.on em{
	background:#a5b1bd url("../../images/tabs/tab_right_f.gif") no-repeat top right; 
	margin:0; 
	padding:5px 0px 5px 8px; 
	border:none; 
	font-weight:bold; 
	color:#fff;
}

.toggle li.last em{border:none; }

.newscat .rcn{background-color:#f2f3f5; }

.newscat .catheadlines{border:none; padding-bottom:0; }

.headlines{border-top:0; padding:10px; }
.headlines .moreheadlines{display:none; }
.headlines h5{display:none; }
.headlines ul{margin:0; padding:0 0 5px 0; list-style:none; }
.headlines ul li a{padding-right:5px; }
.headlines em{display:inline; }
.headlines a.action{display:block; font-weight:bold; color:#12258c; }

.newscat .moreproviders{
	clear:both; 
	margin:0 10px; 
	padding:5px 0 10px; 
	font:77% 'Lucida Grande', Verdana, Sans-Serif;
	background:url("../../images/tabs/rul_hori_dot.gif") top repeat-x; 
}

.newscat .moreproviders strong{color:#333333; }
.newscat .moreproviders a { color: #003399; font-size: 107%; }

.clr{clear:both; line-height:1%;}

img{
border:0;}