
#trailBar{	background: url("http://www.gbif.fr/themes/gbif/meta/images/actionbarbg_m.jpg") no-repeat top center;}

.queryReminder .blue,.blue{color:#689d6d;}

#urlLike,.urlLike{	color:#689d6d;}
.preferedbig {	color: #689d6d;}
#searchresults div.mover{	background-color : #689d6d;}

#optionsTrail a {	color:#689d6d;}

#searchPage #nav-search, #registryPage #nav-registry, #aboutPage #nav-about,#updatePage #nav-update{color:#689d6d;}
a{	color: #689d6d;  }

html>body .fieldtext {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	height:70px;
	width:350px;
	border:thin solid #bbb;
	white-space:normal;
}
.title{
	font-weight:bold;
	margin-left:75px;
}
.textAreaF{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	border:thin solid #bbb;
	width:350px;
	white-space:normal;
	height:auto;
}

.nobord{border:0px}

.scrol{ 
	z-index:10;
	width:800px;
	margin-left:75px;
	margin-right:10px;
}

.selsize {
	height:auto;
}

.pageTitle{
/*	margin-right:80px;*/
	text-align:center;
 	font-weight:bold;
}

.selec {
	margin-left:75px;
}
select{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:1em;
	height:auto;
	border:thin solid #bbb;
}
